<!DOCTYPE html>
<html>
<head>
    <title>AI Generation</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            width: 25%;
        }
    </style>
</head>
<body>
<h1>AI Generation</h1>
<h3>Please select:</h3>
<div class="buttons">
    <a href="/summary">
        <button>Summary for LinkedIn</button>
    </a>
    <a href="/cover_letter">
        <button>Cover Letter</button>
    </a>
</div>
</body>
</html>
